<div class="mobile-view px-1">

  <div class="fs-22 bold-500 textC mt-3 line-height">
    The only marketing and
    selling tool for your business.
  </div>

  <div class="grey-card mt-4">
    <div class="card-group">
      <div class="card-point">
        <div class="row">
          <div class="icon">
            <img src="../../assets/screen9/homeicon.svg" alt="">
          </div>
          <div>
            Create social storefront
          </div>
        </div>
      </div>
      <div class="card-point">
        <div class="row">
          <div class="icon">
            <img src="../../assets/screen9/homeicon.svg" alt="">
          </div>
          <div>
            Set your campaign & rewards
          </div>
        </div>
      </div>
      <div class="card-point">
        <div class="row">
          <div class="icon">
            <img src="../../assets/screen9/campaign.svg" alt="">
          </div>
          <div>
            Fulfill orders & accept payments
          </div>
        </div>
      </div>
      <div class="card-point">
        <div class="row">
          <div class="icon">
            <img src="../../assets/screen9/medal.svg" alt="">
          </div>
          <div>
            Reward your customers only
            when you get a sale
          </div>
        </div>
      </div>




    </div>
  </div>
  <div class="textC mt-3">
    <button mat-button class="get-started b_black c_white"> GET STARTED
    </button>
  </div>



  <div class="textC mt-2">
    <img src="../../assets/screen9/dots.svg" alt="">
  </div>



</div>
