.container,
button {
  font-family: "Jost", sans-serif !important;
  -ms-overflow-style: none !important;
  /* Internet Explorer 10+ */
  scrollbar-width: none !important;
  /* Firefox */
}

.mobile-view {
  background: linear-gradient(91.11deg, #7D7AED 5.34%, #A88EF1 47.13%, #D4C7FC 91.05%);
}

.font-family {
  font-family: "Jost", sans-serif !important;
}

.mat-dialog-container {
  padding: 0 !important;
}

.mt-small {
  margin-top: 0.7rem !important;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}


.p-1 {
  padding: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.bold-500 {
  font-weight: 500;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-12 {
  font-size: 12px !important;
}


.fs-12 {
  font-size: 12px !important;
}

.mx-3 {
  margin-right: 3rem !important;
}

.row {
  display: flex !important;
  align-items: center;

}

.justify-content-around {
  justify-content: space-around !important;
}

/* TOOLBAR */

mat-toolbar {
  background: transparent !important;
  border-bottom: 1px solid #f6f6f6;

  p {
    margin-bottom: 0 !important;
    line-height: 14px !important;
  }

  .title {
    font-weight: 500;
  }
}

//

.section {
  background: #FFFFFF;
  border-radius: 15px 15px 0px 0px;
}

.border {
  border: 1px solid #5C4CE1;
  border-radius: 8px;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  display: -webkit-box !important;
  overflow-x: auto;
  box-sizing: border-box;
  margin-top: 0.2rem;

  .smiley {
    // margin-left: 1rem !important;
    border: none;
    background: none;
    padding: 0;
    line-height: 1.5 !important;
  }
}

.highlights {
  background: #DCDEFF;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 1px;
  padding-right: 1px;
}

.pill-groups {
  overflow-x: auto;
  display: -webkit-box !important;
  padding-bottom: 2px;
}

.pill-group {
  display: -webkit-inline-box !important;
}

.pill {
  background: #F1F2FF;
  border: 1px solid #5C4CE1;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  margin: 0px 4px 0px 4px;
  width: max-content !important;
  font-size: 13px;

  button {
    background: none;
    border: none;
    padding: 0.3rem !important;
    font-weight: 400;

  }
}

.share {
  width: 100% !important;
  background: linear-gradient(90deg, #7472ED 1.37%, #908BF2 48.85%, #C3B1F8 99.39%) !important;
  font-size: 18px;
  font-family: "Jost", sans-serif !important;
  padding: 5px;
}

.comment-section {
  mat-form-field {
    margin-top: 0.2rem;
    width: 100%;
  }
}


.timeline {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@keyframes movegreen {
  0% {
    background: white;
  }

  50% {
    background: linear-gradient(to right, rgb(45, 252, 4) 50%, rgb(255, 255, 255) 50%);
  }

  100% {
    background: linear-gradient(to right, rgb(45, 252, 4) 50%, rgb(45, 252, 4) 50%);
  }
}

.timeline {
  font-family: "Jost", sans-serif !important;

  .line {
    height: 1px !important;
    position: absolute;
    top: 4rem;
    width: 62% !important;
    animation: movegreen 4s infinite;
    transition: 2000ms;
  }
}

.timeline .events {
  width: 100%;
  margin: 1.5em;
  display: flex;
  z-index: 5;
  justify-content: space-evenly;
  position: relative;
  font-weight: 500 !important;
  top: 1.2rem;
}


.p-small {
  padding: 1rem;
}



@keyframes gb {
  from {
    border: 3px solid #fff !important;
    border-radius: 50%;
  }

  to {
    border: 3px solid rgb(101, 247, 56) !important;
    border-radius: 50%;
  }
}

.c_orange {
  color: #FD6F6D;
}

.circle-point {
  animation: gb 2s infinite;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: #8d82ef;
}

.circle {
  position: fixed;
}

.logo {
  position: fixed;
  margin: 5px;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none !important;
}

textarea {
  width: 98%;
  border-radius: 7px;
  margin-top: 0.2rem;
}

::placeholder {
  color: rgba(0, 0, 0, 0.6) !important;
  font-family: "Jost", sans-serif !important;
}
