<div class="card b_white">
  <div class="header" >
    <button class="c_white b_black"> <mat-icon class="mat-18">photo_camera_outlined</mat-icon> Take Photo </button>
    <button class="c_white b_black"> <mat-icon class="mat-18">image</mat-icon>Choose </button>
  </div>
  <div class="textC pic">
    <img src="../../../assets/screen5/p.png" alt="">
  </div>
  <div class=" description">
      Your Refr recommendation has been curated & copied.
      Please paste it as your caption before sharing!
  </div>
  <div class="textC">
    <button mat-button class="proceed-button c_white"> Proceed </button>
  </div>

</div>
