 <div class="sticky-bottom">
        <div class="d-md-none d-sm-block">

          <div  class="bg-white d-flex-row footer-mobile">
            <div >
              <img src="../assets/homefooter.png" alt=""> <br>
              <span> Home </span>
            </div>
            <div >
              <img src="../assets/wallethome.png" alt=""> <br>
              <span> Wallet </span>
            </div>
            <div >
              <img src="../assets/capaignhome.png" alt=""> <br>
              <span> Campaign </span>
            </div>
            <div >
              <img src="../assets/customers.png" alt=""> <br>
              <span> Customer </span>
            </div>
            <div >
              <img src="../assets/growth.png" alt=""> <br>
              <span> Insights </span>
            </div>
          </div>


        </div>
      </div>

      <div class="d-md-block d-sm-none">
        <div class="bg-white d-flex-row navbar-mobile">
          <div class="w-30">
            <b>Refr1 Tech Private Limited (c) 2022 </b>
          </div>
          <div class="w-70">

          </div>
        </div>
      </div>
