<div class="main-content">
  <div class="d-flex-row align-items-center">
    <b class="big-text"> My Level </b> &nbsp; &nbsp;
    <img src="../../assets/trophy.svg" alt="">
  </div>
  <br>
  <div class="thin-text">
    <p>Level up to unlock Surprise Rewards</p>
  </div>

  <div class="level-section">
    <div class="d-flex-row wrap">
      <div class=" col-33 p-5 ">
        <div class="bg-grad-blue">
          <div class="level-card align-items-center">

            <div class="header">
              <div class="d-flex-row justify-content-center">
                <img src="../../assets/coloredcart.svg" alt="">&nbsp; &nbsp;
                <span> Stores shared </span>
              </div>
            </div>
            <div class="body  w-center mt-10">
              <div class="level-bg d-flex-column-reverse">
                <div [ngStyle]="{'height': '20%'}" class="battery-fill-1"></div>
                <div class="arrow-bg">
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>

                </div>
              </div>
              <span class="level-percent">2/10</span>
              <div class="text-bold m--5 mb-5"> Level 1</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-33  p-5 ">
        <div class="bg-grad-green">
          <div class=" level-card align-items-center">
            <div class="header">
              <div class="d-flex-row justify-content-center">
                <img width="10%" height="10%" src="../../assets/screen2/coin.png" alt="">&nbsp; &nbsp;
                <span> Refr cash earned </span>
              </div>
            </div>
            <div class="body  w-center mt-10">
              <div class="level-bg d-flex-column-reverse">
                <div [ngStyle]="{'height': '60%'}" class="battery-fill-2"></div>
                <div class="arrow-bg">
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>

                </div>
              </div>
              <span class="level-percent ">1400</span>
              <div class="text-bold m--5 mb-5"> Level 1</div>
            </div>

          </div>
        </div>

      </div>
      <div class="col-33  p-5 ">
        <div class="bg-grad-purple">
          <div class=" level-card align-items-center">
            <div class="header">
              <div class="d-flex-row justify-content-center">
                <img width="10%" height="10%" src="../../assets/screen2/recommendationsused.svg" alt="">&nbsp; &nbsp;
                <span> Recommendations </span>
              </div>
            </div>
            <div class="body  w-center mt-10">
              <div class="level-bg d-flex-column-reverse">
                <div [ngStyle]="{'height': '40%'}" class="battery-fill-3"></div>
                <div class="arrow-bg">
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>
                  <div class="arrow"></div>

                </div>
              </div>
              <span class="level-percent">5/10</span>
              <div class="text-bold m--5 mb-5"> Level 1</div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="referral-section">
    <div class="referral-card">
      <div class="d-flex-row">
        <div class="col-60 ptb-5">
          <div class="txt"> Invite Your Friends And Family to the Refr App
            & Earn <img src="../../assets/screen2/coin.png" width="6%" alt=""> 50 on every Referral </div>
          <br>
          <button mat-button class="refer-invite-btn">Invite to Refr</button>
        </div>
        <div class="col-40">
          <img id="handphone" src="../../assets/screen2/handphone.svg" alt="">
        </div>

      </div>

    </div>

  </div>

  <div class="heading d-flex-row">
    <b>This Just Got In </b> &nbsp;
    <img src="../../assets/screen2/downarrow.svg" alt="">
  </div>

  <div class="store-section">
    <div class="card-img-container">
      <div class="card" [style.backgroundImage]="'url('+ '../../assets/screen2/store.png'+')'">
        <div class="offer-tag">
          <span class="d-flex-row justify-content-space align-items-center"> Get <img width="15%"
              src="../../assets/screen2/coin.png" alt=""> 400 </span>
        </div>
        <div class="name-tag-width">
          <div class="name-tag">
            <span> <img width="10%" src="../../assets/screen2/personwhiteoutline.svg" alt=""> Alex John </span>
          </div>
        </div>
      </div>
      <div class="footer d-flex-row">
        <div class="col-80">
          <b>Diamond Garments</b> <br>
          <span class="thin-text"> Garments &nbsp; | &nbsp; <span class="text-primary"> Online store </span> </span>
        </div>
        <div class="col-20">
          <button class="float-right get-btn" mat-button>Get This</button>

        </div>

      </div>
    </div>
    <div class="card-img-container">
      <div class="card" [style.backgroundImage]="'url('+ '../../assets/screen2/store.png'+')'">
        <div class="offer-tag">
          <span class="d-flex-row justify-content-space align-items-center">Earn <img
              src="../../assets/screen2/coin.png" width="15%" alt=""> 100x </span>
        </div>
        <div class="name-tag-width">
          <div class="name-tag">
            <span> <img src="../../assets/screen2/personwhiteoutline.svg" alt=""> Alex John </span>
          </div>
        </div>


      </div>
      <div class="footer d-flex-row">
        <div class="col-80">
          <b>Diamond Garments</b> <br>
          <span class="thin-text"> Garments &nbsp; | &nbsp; <span class="text-primary"> Online store </span> </span>
        </div>
        <div class="col-20">
          <div>
            <button class="float-right get-btn" mat-button>Refr Now</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
