<div class=" d-md-none d-sm-block mobile-view">
  <div class="toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <img src="../../assets/screen3/locationgradient.svg" alt="">
    <div class="m-5">
      <div class="c_gradient primary-font-size title m-5 p-2">Address</div>
      <div class="primary-font-size m-5 p-2">C31 area north street</div>
    </div>
  </div>

  <div class="input-mobile">
    <form class="example-form d-block d-md-none d-lg-none">
      <div class="search-container">
        <input type="text" name="search" placeholder="Search">
        <mat-icon>search</mat-icon>
      </div>
    </form>

  </div>

  <div class="mobile-banner">
    <img src="../../assets/screen3/bannermobile.svg" width="100%" alt="">

  </div>

  <div class="category-section-m">
    <nav mat-tab-nav-bar>
      <a mat-tab-link (click)="openDialog(1)" class="link active"> Store type  </a>
      <a mat-tab-link (click)="openDialog(2)" class="link"> Category </a>
      <a mat-tab-link (click)="openDialog(3)" class="link"> Cashback tier  </a>
      <a mat-tab-link (click)="openDialog(4)" class="link">Others  </a>

    </nav>
  </div>
  <div class="store-section">
    <div class="d-flex flex-wrap">
      <div class="mt-sm-10 col-sm-100 col-50">
        <div class="card-img-container">
          <div class="card" [style.backgroundImage]="'url('+ '../../assets/screen2/store.png'+')'">
            <div class="offer-tag">
              <span class="d-flex-row justify-content-space align-items-center"> Earn <img width="15%"
                  src="../../assets/screen2/coin.png" alt=""> 100x </span>
            </div>
            <div class="name-tag-width">
              <div class="name-tag">
                <span> <img width="10%" src="../../assets/screen2/personwhiteoutline.svg" alt=""> Alex John </span>
              </div>
            </div>
          </div>
          <div class="footer d-flex-row">
            <div class="col-80">
              <b>Diamond Garments</b> <br>
              <span class="thin-text"> Garments &nbsp; | &nbsp; <span class="text-primary"> Online store </span> </span>
            </div>
            <div class="col-20">
              <div>
                <button class="float-right get-btn" mat-button>Refr Now</button>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="mt-sm-10 col-sm-100 col-50">
        <div class="card-img-container">
          <div class="card" [style.backgroundImage]="'url('+ '../../assets/screen2/store.png'+')'">
            <div class="offer-tag">
              <span class="d-flex-row justify-content-space align-items-center"> Earn <img width="15%"
                  src="../../assets/screen2/coin.png" alt=""> 100x </span>
            </div>
            <div class="name-tag-width">
              <div class="name-tag">
                <span> <img width="10%" src="../../assets/screen2/personwhiteoutline.svg" alt=""> Alex John </span>
              </div>
            </div>
          </div>
          <div class="footer d-flex-row">
            <div class="col-80">
              <b>Diamond Garments</b> <br>
              <span class="thin-text"> Garments &nbsp; | &nbsp; <span class="text-primary"> Online store </span> </span>
            </div>
            <div class="col-20">
              <div>
                <button class="float-right get-btn" mat-button>Refr Now</button>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="mt-sm-10 col-sm-100 col-50">
        <div class="card-img-container">
          <div class="card" [style.backgroundImage]="'url('+ '../../assets/screen2/store.png'+')'">
            <div class="offer-tag">
              <span class="d-flex-row justify-content-space align-items-center"> Earn <img width="15%"
                  src="../../assets/screen2/coin.png" alt=""> 100x </span>
            </div>
            <div class="name-tag-width">
              <div class="name-tag">
                <span> <img width="10%" src="../../assets/screen2/personwhiteoutline.svg" alt=""> Alex John </span>
              </div>
            </div>
          </div>
          <div class="footer d-flex-row">
            <div class="col-80">
              <b>Diamond Garments</b> <br>
              <span class="thin-text"> Garments &nbsp; | &nbsp; <span class="text-primary"> Online store </span> </span>
            </div>
            <div class="col-20">
              <div>
                <button class="float-right get-btn" mat-button>Refr Now</button>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="mt-sm-10 col-sm-100 col-50">
        <div class="card-img-container">
          <div class="card" [style.backgroundImage]="'url('+ '../../assets/screen2/store.png'+')'">
            <div class="offer-tag">
              <span class="d-flex-row justify-content-space align-items-center"> Earn <img width="15%"
                  src="../../assets/screen2/coin.png" alt=""> 100x </span>
            </div>
            <div class="name-tag-width">
              <div class="name-tag">
                <span> <img width="10%" src="../../assets/screen2/personwhiteoutline.svg" alt=""> Alex John </span>
              </div>
            </div>
          </div>
          <div class="footer d-flex-row">
            <div class="col-80">
              <b>Diamond Garments</b> <br>
              <span class="thin-text"> Garments &nbsp; | &nbsp; <span class="text-primary"> Online store </span> </span>
            </div>
            <div class="col-20">
              <div>
                <button class="float-right get-btn" mat-button>Refr Now</button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>


</div>

<div class=" d-md-block d-sm-none desktop-view">
  <div class="desktop-banner">

    <div class="input-desktop ">
      <div class="d-flex-row">
        <div class="col-20">

        </div>
        <div class="search-section col-80 container">
          <div class="search-desktop row  d-flex-row align-items-center">
            <div class="col-5 textC va">
              <img src="../../assets/screen3/locationgradient.svg" alt="">
            </div>
            <div class="col-20 textL">
              <span> C31 area north street </span>
            </div>
            <div class="col-70">
              <input matInput class="inp" placeholder="Search">
            </div>
            <div class="col-2">
              <button mat-button matPrefix mat-icon-button>
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="col-20">

        </div>

      </div>

    </div>


  </div>

  <br>

  <div class="category-section">

    <div class="d-flex-row justify-content">
      <div class="menu-item active" [matMenuTriggerFor]="storeType">Store type <span class="p-5"><img
            src="../../assets/screen3/downarrowmenu.svg" alt=""></span> </div>
      <div class="menu-item" [matMenuTriggerFor]="category">Category <span class="p-5"><img
            src="../../assets/screen3/downarrowmenu.svg" alt=""></span> </div>
      <div class="menu-item" [matMenuTriggerFor]="cashback">Cashback tier <span class="p-5"><img
            src="../../assets/screen3/downarrowmenu.svg" alt=""></span></div>
      <div class="menu-item">Others <span class="p-5"><img src="../../assets/screen3/downarrowmenu.svg" alt=""></span>
      </div>
    </div>

    <mat-menu #storeType="matMenu">
      <div class="mt-5" mat-menu-item> <span> <input type="checkbox"> </span> Online</div>
      <div class="mt-5" mat-menu-item> <span> <input type="checkbox"> </span> Offline</div>
      <div class="mt-5" mat-menu-item> <span> <input type="checkbox"> </span> Hybrid</div>
    </mat-menu>

    <mat-menu #category="matMenu">
      <div class="mt-5" mat-menu-item [matMenuTriggerFor]="fashion"> <span> <input type="checkbox"> </span> Fashion
      </div>
      <div class="mt-5" mat-menu-item> <span> <input type="checkbox"> </span> Food and Beverages</div>
      <div class="mt-5" mat-menu-item> <span> <input type="checkbox"> </span> Salon & spas</div>
      <div class="mt-5" mat-menu-item> <span> <input type="checkbox"> </span> Beauty & Grooming</div>
    </mat-menu>

    <mat-menu #fashion="matMenu">
      <div class="mt-5" mat-menu-item> <span> <input type="checkbox"> </span> Men</div>
      <div class="mt-5" mat-menu-item> <span> <input type="checkbox"> </span> Women</div>
      <div class="mt-5" mat-menu-item> <span> <input type="checkbox"> </span> Children</div>
    </mat-menu>

    <mat-menu #cashback="matMenu">
      <div class="mt-5" mat-menu-item> <span> <input type="checkbox"> </span> Upto 100</div>
      <div class="mt-5" mat-menu-item> <span> <input type="checkbox"> </span> 100 - 200</div>
      <div class="mt-5" mat-menu-item> <span> <input type="checkbox"> </span> 200 - 500</div>
    </mat-menu>


    <!-- <mat-menu #cashback="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
      <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
      <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
      <button mat-menu-item>Birds</button>
      <button mat-menu-item>Mammals</button>
    </mat-menu> -->

  </div>

  <div class="store-section ">
    <div class="d-flex-row-md d-flex-column-sm flex-wrap row">
      <div class="mt-sm-10 col-sm-100 col-25">
        <div class="card-img-container">
          <div class="card" [style.backgroundImage]="'url('+ '../../assets/screen2/store.png'+')'">
            <div class="offer-tag">
              <span class="d-flex-row justify-content-space align-items-center"> Earn <img width="15%"
                  src="../../assets/screen2/coin.png" alt=""> 100x </span>
            </div>
            <div class="name-tag-width">
              <div class="name-tag">
                <span> <img width="10%" src="../../assets/screen2/personwhiteoutline.svg" alt=""> Alex John </span>
              </div>
            </div>
          </div>
          <div class="footer d-flex-row">
            <div class="col-80">
              <b>Diamond Garments</b> <br>
              <span class="thin-text"> Garments &nbsp; | &nbsp; <span class="text-primary"> Online store </span> </span>
            </div>
            <div class="col-20">
              <div>
                <button class="float-right get-btn" mat-button>Refr Now</button>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="mt-sm-10 col-sm-100 col-25">
        <div class="card-img-container">
          <div class="card" [style.backgroundImage]="'url('+ '../../assets/screen2/store.png'+')'">
            <div class="offer-tag">
              <span class="d-flex-row justify-content-space align-items-center"> Earn <img width="15%"
                  src="../../assets/screen2/coin.png" alt=""> 100x </span>
            </div>
            <div class="name-tag-width">
              <div class="name-tag">
                <span> <img width="10%" src="../../assets/screen2/personwhiteoutline.svg" alt=""> Alex John </span>
              </div>
            </div>
          </div>
          <div class="footer d-flex-row">
            <div class="col-80">
              <b>Diamond Garments</b> <br>
              <span class="thin-text"> Garments &nbsp; | &nbsp; <span class="text-primary"> Online store </span> </span>
            </div>
            <div class="col-20">
              <div>
                <button class="float-right get-btn" mat-button>Refr Now</button>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="mt-sm-10 col-sm-100 col-25">
        <div class="card-img-container">
          <div class="card" [style.backgroundImage]="'url('+ '../../assets/screen2/store.png'+')'">
            <div class="offer-tag">
              <span class="d-flex-row justify-content-space align-items-center"> Earn <img width="15%"
                  src="../../assets/screen2/coin.png" alt=""> 100x </span>
            </div>
            <div class="name-tag-width">
              <div class="name-tag">
                <span> <img width="10%" src="../../assets/screen2/personwhiteoutline.svg" alt=""> Alex John </span>
              </div>
            </div>
          </div>
          <div class="footer d-flex-row">
            <div class="col-80">
              <b>Diamond Garments</b> <br>
              <span class="thin-text"> Garments &nbsp; | &nbsp; <span class="text-primary"> Online store </span> </span>
            </div>
            <div class="col-20">
              <div>
                <button class="float-right get-btn" mat-button>Refr Now</button>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="mt-sm-10 col-sm-100 col-25">
        <div class="card-img-container">
          <div class="card" [style.backgroundImage]="'url('+ '../../assets/screen2/store.png'+')'">
            <div class="offer-tag">
              <span class="d-flex-row justify-content-space align-items-center"> Earn <img width="15%"
                  src="../../assets/screen2/coin.png" alt=""> 100x </span>
            </div>
            <div class="name-tag-width">
              <div class="name-tag">
                <span> <img width="10%" src="../../assets/screen2/personwhiteoutline.svg" alt=""> Alex John </span>
              </div>
            </div>
          </div>
          <div class="footer d-flex-row">
            <div class="col-80">
              <b>Diamond Garments</b> <br>
              <span class="thin-text"> Garments &nbsp; | &nbsp; <span class="text-primary"> Online store </span> </span>
            </div>
            <div class="col-20">
              <div>
                <button class="float-right get-btn" mat-button>Refr Now</button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>


</div>
